@model Movie

<div style="border: solid 2px black">
    <p>Title: @Model.Title</p>
    <p>Movie Id: @Model.ID</p>
    <p>Genre: @Model.Genre</p>
    <p>Run Time: @Model.Runtime</p>
    <p>Release Year: @Model.Year</p>
    <br />
</div>
