@model IEnumerable<Movie>

@foreach(Movie m in Model)
    {
<div style="border: solid 2px black">
    <p>Movie Id: @m.ID</p>
    <p>Title: @m.Title</p>
    <p>Genre: @m.Genre</p>
    <p>Release Year: @m.Year</p>
    <p>Run Time: @m.Runtime</p>

    <a asp-action="Details" asp-controller="Movie" asp-route-id="@m.ID"><p>Details</p></a>
    <a asp-action="Delete" asp-controller="Movie" asp-route-id="@m.ID"><p>Delete</p></a>
    <a asp-action="Edit" asp-controller="Movie" asp-route-id="@m.ID"><p>Edit</p></a>
    <br />
</div>
    }
<a asp-action="Register" asp-controller="Movie" asp-route-id="Register">Register A New Movie</a>